        <form action="/add_bg" method="post" enctype="multipart/form-data">
            
            <label for="bg_name">Background Name (Required)</label><br>
            <input type="text" name="bg_name" placeholder="type in name of the background" required><br>
            
            <label for="bg_image">Background Design (Required)</label><br>
            <input type="file" name="bg_image" required><br>
            
            <input type="submit" value="add background">
        </form>