<!DOCTYPE html>
<html>
    <head>
        <!--Board Size-->
        <style>
            #board {
                width: 1300px;
                height: 500px;
                border: 1px solid black;
            }
        </style>
        <!--Drawing Board CSS/AJAX-->
        <link rel="stylesheet" type="text/css" href="/css/drawingboard.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
    </head>
    <body>
        <h2 style="text-align: center; margin-top: 20px; font-family: Snell Roundhand, cursive; font-size: 50px;">Atelier</h2>
        <!--Drawing Board-->
        <div id="board" style="margin-top: 20px;">
            <img style="position: fixed; z-index: 100; pointer-events: none; opacity: 0.5; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%)" src="/images/default/Specialita-Standard.png" width="200.25" height="374">
        </div>
        <div id="button_center" style="text-align: center;">
            <button id="save_drawing" style="color: black; padding: 0; border: dashed 5px #77C2B9; margin-top: 20px;">Save Drawing! / Specialitaを保存！</button>
        </div>
        <script>
            $(document).ready(function(){
                var imageBoard = new DrawingBoard.Board('board', {
                    background: "#fff",
                    color: '#000',
                    size: 30,
                    controls: [
                        'Color',
                        { Size: { type: "range"} },
                        { Navigation: { back: true, forward: true} },
                        'DrawingMode'
                    ],
                    // enables to save by session of the user (not local)
                    webStorage: 'session',
                    // enables to expand canvas by changing the board size at the top
                    enlargeYourContainer: true
                });
                $("#save_drawing").click(function(){
                    domtoimage.toBlob(document.getElementById('board'))
                    .then(function (blob) {
                        window.saveAs(blob, 'original_specialita_drawing.png');
                    });
                })
            })
        </script>
        <!--Drawing Board JS-->
        <script src="https://cdn.jsdelivr.net/g/filesaver.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/drawingboard.js/0.4.6/drawingboard.min.js"></script>
    </body>
</html>