<link rel="stylesheet" href="/css/credit.css">
<body>
    <h1>Main Director</h1>
    <h2>Tatsunori Ono</h2>
    
    <h1>Program Supporters</h1>
    <h2>さとうのレオくん</h2>
    <h2>はせりょう</h2>
    
    <h1>Music Creator</h1>
    <h2>れちぇ</h2>
    
    <h1>Special Thanks</h1>
    <h2>Life is Tech!</h2><br>
    
    <div class="logo">
        <img src="/images/logos/Specialita-Logo-White-Astroid.png">
    </div>
</body>