<!--Guide・解説書-->

<!--Specialitaレベル-->
<!--30分＝１Lv-->

<!--Specialitaオーラ-->


<!--Specialitaランク-->
<body>

Japanese Guide
<iframe src="https://livewarwickac-my.sharepoint.com/personal/u5513312_live_warwick_ac_uk/_layouts/15/embed.aspx?UniqueId=c85f9dd6-b4fd-421d-af39-f9b8baeb63c5" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen title="Tatsunori_Specialita_mac.pdf"></iframe>

English Guide
<iframe src="https://livewarwickac-my.sharepoint.com/personal/u5513312_live_warwick_ac_uk/_layouts/15/Doc.aspx?sourcedoc={6ee3f2bd-3cbf-484c-9075-5c03cea7ac8c}&amp;action=embedview&amp;wdAr=1.7770833333333333" width="476px" height="288px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>

</body>