<!--This is homepage.-->

<style>
@keyframes move-stripe2 {
    0% {  background-position-x: 0;  }
    100% {  background-position-x: -34px;  }
}
.section2 {
    background: url("/images/default/Specialita-Standard-mini.png");
    animation: move-stripe2 5s infinite linear;
}

h2 {
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    color: white;
    font-style: italic;
}

iframe {
    position: absolute;
    z-index: 10;
    display:block;
    text-align: center;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section {
    z-index: 1;
}
</style>

<body>
    <iframe width="958" height="539" src="https://www.youtube.com/embed/6032KgH-218" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <section class="section2">
        <h2>SPECIALITA</h2><br>
        <h2>SPECIALITA</h2><br>
        <h2>SPECIALITA</h2><br>
        <h2>SPECIALITA</h2><br>
        <h2>SPECIALITA</h2><br>
        <h2>SPECIALITA</h2><br>
        <h2>SPECIALITA</h2><br>
        <h2>SPECIALITA</h2><br>
        <h2>SPECIALITA</h2><br>
        <h2>SPECIALITA</h2><br>
        <h2>SPECIALITA</h2>
    </section>
</body>