<!--This is homepage.-->

<style>
@keyframes move-stripe2 {
    0% {  background-position-x: 0;  }
    100% {  background-position-x: -34px;  }
}
.section2 {
    background: url("/images/default/Specialita-Standard-mini.png");
    animation: move-stripe2 1s infinite linear;
}

h2 {
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    color: white;
}
</style>

<section class="section2">
    <h2>SPECIALITA</h2><br>
    <h2>SPECIALITA</h2><br>
    <h2>SPECIALITA</h2><br>
    <h2>SPECIALITA</h2><br>
    <h2>SPECIALITA</h2><br>
    <h2>SPECIALITA</h2><br>
    <h2>SPECIALITA</h2><br>
    <h2>SPECIALITA</h2><br>
    <h2>SPECIALITA</h2><br>
    <h2>SPECIALITA</h2><br>
    <h2>SPECIALITA</h2>
</section>