<!--This is homepage.-->

<style>
@keyframes move-stripe2 {
    0% {  background-position-x: 0;  }
    100% {  background-position-x: -34px;  }
}
.section2 {
    background: url("/images/default/Specialita-Standard-mini.png");
    animation: move-stripe2 5s infinite linear;
    height: 93.4%;
}

h2 {
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    color: #ED4034;
    font-style: italic;
}

iframe {
    position: absolute;
    z-index: 10;
    display:block;
    text-align: center;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section {
    z-index: 1;
}
</style>

<body>
    <iframe width="958" height="539" src="https://www.youtube.com/embed/6032KgH-218" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <section class="section2">
        <h2 class="js_typing">SPECIALITA</h2><br>
        <h2 class="js_typing" style="background-color: white; color: black; text-decoration-line: underline; text-decoration-color: #ED4034;" >Specialita is a web application where your character grows respectively to your studying time. <br> The gamification of education allows you to maintain your motivation!</h2><br>
        <h2 class="js_typing">SPECIALITA</h2><br>
        <h2 class="js_typing">SPECIALITA</h2><br>
        <h2 class="js_typing">SPECIALITA</h2><br>
        <h2 class="js_typing">SPECIALITA</h2><br>
        <h2 class="js_typing">SPECIALITA</h2><br>
        <h2 class="js_typing">SPECIALITA</h2><br>
        <h2 class="js_typing">SPECIALITA</h2><br>
        <h2 class="js_typing">SPECIALITA</h2><br>
        <h2 class="js_typing">SPECIALITA</h2><br>
        <h2 class="js_typing">SPECIALITA</h2>
    </section>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"　integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/shuffle-text@0.3.0/build/shuffle-text.min.js"></script>
<script src="/js/js_typing.js"></script>