html,
body {
    margin: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    display: flex;
    justify-content: center;
}

/*Load Mark to Centre*/

.loading--full-height {
    align-items: center;
    height: 100%;
}

/*Load Mark Format*/

.loading::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid #dddddd;
    border-top-color: #EE4132;
    border-radius: 50%;
    animation: loading 0.5s ease infinite;
}

/*Rotating Animation*/

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}

.image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75px;
    height: 139.5px;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 0.5s linear infinite;
    -moz-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        transform-origin: 37.5px 33.255px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}