.img_border img {
    width: 1000px;
    height: 500px;
    display: block;
}

.img_border {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    width: 1000px;
    height: 500px;
    border-radius: 50px / 15px;
    overflow: hidden;
    box-shadow: 0 10px 17.5px rgba(0, 0, 0, 0.3);
}

#sp-stage-wrap {
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

/*#canvas-txt {*/
/*    font-size: 60px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/