.selectbox {
    width: 10%;
    position:relative;
    display: inline-block;
}

select{
  -webkit-appearance:none;
  appearance:none;
  width:100%;
  padding:1em 1em;
  box-sizing:border-box;
  font-size:1em;
  border:#ccc 1px solid;
  border-radius:0;
  background: #fff;
  font-family: 'Gill Sans', sans-serif;
}

option:first-child{
    background: green;
}

.selectbox::after{
  content:"";
  width:10px;
  height:10px;
  position:absolute;
  right:13%;
  top:39%;
  border-bottom:#333 2px solid;
  border-right:#333 2px solid;
  transform:rotate(45deg)translateY(-30%);
}

.color.selectbox select{
  background: #004F7A;
  color:#fff;
  border-radius:2em;
}

.color.selectbox::after{
  border-bottom:#fff 5px solid;
  border-right:#fff 5px solid;
}