.subject_add_button {
    text-align: center;
    text-decoration: none !important;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.subject_add_container {
  margin: 20px;
  display: inline-block;
  text-align: center;
}

.subject_add_button a {
    text-align: center;
}